<head>
	<meta http-equiv="Content-Type" content="text/html/css; charset=utf-8" />
        <title>Sass & Sass{{" - %s" % content.title if content }}</title>
	
	{% for stylesheet in config.STYLES %}
	{{ create_resource_link("link", prefix="css", type="text/css", rel="stylesheet", href=stylesheet)|safe }}
	{% endfor %}

	{% for script in config.SCRIPTS %}
	{{ create_resource_link("script", prefix="scripts", type="text/javascript", src=script)|safe }} 
	{% endfor %}

	<link type="image/gif" rel="icon" href={{ url_for("static", filename="img/favicon.gif") }} />
</head>
