<! doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www/w3/org/1999/xhtml">

	{% block head %}
	{% include "head.html" with context%}
	{% endblock %}

	<body>
		<div id="container">
			<div id="content">

			{% block content %}
				<div id="leftcolumn">
                                    {% block leftcolumn %}
                                    <div class='identity'>
                                        <a href="{{ url_for('index') }}">
                                            <div class='logo'>
                                                <p>SASS<span>&amp;</span>SASS</p>
                                            </div>
                                        </a>
                                        <p class="slogan">Helping the body fight disease&trade;</p>
                                    </div>
                                    
                                    {% for message in get_flashed_messages() %}
                                    <div class=flash>{{ message }}</div>
                                    {% endfor %}

                                    {% endblock %}
				</div>

				{% block rightcolumn %}
				{% endblock %}
			{% endblock %}
			</div>

			<div id="nav">
                            {% block nav %}
                            {% include "nav.html" ignore missing with context %}
                            {% endblock %}
			</div>
		</div>
	</body>

</html>
