{% import "navforms.html" as forms %}

<ul class="heads">
{% set navbar = generate_navbar() %}
{% for head in navbar %}
    <li>
    <a href="{{ url_for('namedpage', name=head.page.alias) }}">{{ head.page.title }}</a>
    {{ forms.edithead(head.ID) if session.admin }}
    {% if (head.children|count or session.admin) %}
    <ul class="l1">
        {% for child in head.children %}
        <li> 
        <a href="{{ url_for('namedpage', name=child.alias) }}">{{ child.title }}</a> 
        {{ forms.editchild(child.ID, head.ID) if session.admin }}
        </li>
        {% endfor %}
        {% if session.admin %}
        <li>{{ forms.additem("addchild", head.ID) if session.admin }}</li>
        {% endif %}
    </ul>
    {% endif %}
    </li>
{% endfor %}
{% if session.admin %}
    <li>{{ forms.additem("addhead", -1) if session.admin}}</li>
{% endif %}
</ul>
