{% import "navforms.html" as forms %}

<ul class="heads">
{% for head in navbar %}
    <li>
    <a href="{{ url_for('namedpage', name=head.page.alias) }}">{{ head.page.title }}</a>
    {{ forms.edithead(head.ID) if g.logged_in }}
    <ul class="l1">
        {% for child in head.children %}
        <li> 
        <a href="{{ url_for('namedpage', name=child.alias) }}">{{ child.title }}</a> 
        {{ forms.editchild(child.ID, head.ID) if g.logged_in }}
        </li>
        {% endfor %}
        {% if g.logged_in %}
        <li>{{ forms.additem("addchild", head.ID)}}</li>
        {% endif %}
    </ul>
    </li>
{% endfor %}
{% if g.logged_in %}
    <li>{{ forms.additem("addhead", -1) if g.logged_in}}</li>
{% endif %}
</ul>
