body{
	margin:0;
	padding:0;
	background: white;
}

#container{
	margin: auto;
	max-width: 1000px;
	position: relative;
}

#content{
	margin-bottom: 0px;
	min-height: 600px;
	height: 100%;
}

#leftcolumn{
	width: 71%;
    text-align: right;
}

#rightcolumn, #newscolumn{
	position: absolute;
	height: 100%;
	width: 29%;
    right: 0;
	bottom: 0;
}
