<! doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www/w3/org/1999/xhtml">

	{% block head %}
	{% include head.html with context%}
	{% endblock %}

	<body>
		<div id="container">
			<div id="content">
				
			{% block content %}
				<div id="leftcolumn">
					{% block leftcolumn %}
					{% endblock %}
				</div>

				{% block rightcolumn %}
				<div id="rightcolumn">
				</div>
				{% endblock %}
			{% endblock %}
			</div>

			<div id="nav">
				{% block nav %}
				{% include nav.html ignore missing %}
				{% endblock %}
			</div>
		</div>
	</body>
	
</html>
